div {
    /*border : solid 1px black;*/
}

body {
    font-family: 'Baskerville';
    font-size: 40px;
    color: #666;
    /*background:red;*/
    background:#bdc3c7;
    /*previously overflow:hidden*/
    /*That didn't seem to allow scrolling.*/ 
    overflow: scroll;
}

.hoverable:hover {
    color: #088;
}


.tag_names {
    color: #9b59b6;
}

.button {
    font-family: 'Baskerville';
    background: antiquewhite;
    font-size: 16px;
    /*text-align: right;*/
    /*margin-left: auto;*/
    /*position: absolute;*/
    /*margin: 0;*/
    float: right;
    /*align-items: center;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*width: 100px;*/
}


.embedded_root {
    /*font-weight: bold;*/
    /*color: black;*/
    /*text-transform: uppercase;*/
}



.morphology_option_button {
    font-size: 26px;
}

.morphology_beginning_button {
    color: black;
    font-size: 28px;
}

.morphology_middle_button {
    color: red;
    font-size: 28px;
}

.morphology_ending_button {
    color: green;
    font-size: 28px;
}


.morphology_answer_table td { 
    /*border-left: 1px solid #000; */
}
.morphology_answer_table td:first-child { 
    /*border-left: none; */
}

.morphology_answer_table th { 
    /*border-left: 1px solid #000; */
}
.morphology_answer_table th:first-child { 
    /*border-left: none;*/
}



/*doesn't seem to work?! why not*/
.morphology_cell_text {
    font-size: 360px;
    /*color: green;*/
    /*border-left: 50px solid black;*/
    /*border-right: 50px solid black;*/
}


/*#set_spelling_bee_level_button {*/
/*    font-size: 10px;*/
/*    background-color: lightgray;*/
/*    color: black*/
/*    ;*/
/*}*/

.bee_button {
    font-size: 12px;
    background-color: lightgray;
    color: black
    ;
}


#equals_sign_in_morphology {
    color: gray;
    /*width: 150px;*/
    
    /*padding: 10px;*/
}

#morphology_cell_table {
    width: 50%;
    /*table-layout: fixed;*/
}

#morphology_cell_answer_beginning {
    font-size: 40px;
    color: black;
    /*border-right: 1px solid black;*/
    margin-left: 20px;
}

#morphology_cell_answer_middle {
    font-size: 40px;
    color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
#morphology_cell_answer_ending {
    font-size: 40px;
    color: black;
    /*border-left: 1px solid black;*/
    margin-right: 20px;
}

.morphology_answer_cell {
    /*border: 40px solid black;*/
    /*border-left: 50px solid black;*/
    /*border-right: 50px solid black;*/
    background:  navajowhite;
    font-size:56px;
    color: gray;
}

.morphology_to_clear {
    text-align: center;
    /*font-size: 60px;*/
}

.morphology_answer_heading {
    font-size: 14px;
}



/*seems to control the 'background' which the testbox is the foreground of*/
.morphology_answer_table {
    /*table-layout: fixed;*/
    width: 100%;
    white-space: nowrap;
    /*white-space: wrap;*/
    
    border: none; 
    /*border-collapse: collapse;*/
    text-align: center;
    /*border: 40px solid black;*/
    /*border-left: 50px solid black;*/
    /*border-right: 50px solid black;*/
    background: navajowhite;
    /*below will center*/
    vertical-align: middle;
    font-size: 25px;
    cursor:pointer;
    /*width: 700px;*/
    /*width: 100%-auto;*/
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    /*border: solid 1px black;*/
    padding: 10px;
    
    /*color: red;*/
}

.morphology_answer_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*.morphology_row_1 {*/
/*    width: 25%;*/
/*}*/

/*.morphology_row_2 {*/
/*    width: 10%;*/
/*}*/

/*.morphology_row_3 {*/
/*    width: 20%;*/
/*}*/

/*.morphology_row_4 {*/
/*    width: 20%;*/
/*}*/

/*.morphology_row_5 {*/
/*    width: 20%;*/
/*}*/


#morphology_row_1 {
    width: 20%;
}

#morphology_row_2 {
    width: 10%;
}

#morphology_row_3 {
    width: 20%;
}

#morphology_row_4 {
    width: 20%;
}

#morphology_row_5 {
    width: 20%;
}



/*GREEN RED FUNCTIONALITY*/

.correct_input {
    color: green;
}

.incorrect_input {
    color: red;
}





/*is this just the display header and terminal string*/
.kck_string {
    font-size: 14px;
    color: black;
    background-color: white;
    text-transform: uppercase;
    width: 200px;
    
  
    min-width: 250px;

    
}

/*this has something also to do with the display header - perhaps the div it's contained in*/
.kck_string_div {
    /*font-size: 200px*/
}

/*.kck_drop:hover {*/
/*}*/

/*this presumably refers to the entire drop down menu*/
.kck_drop {
    /*z-index:589;*/
    
    /*top:100%;*/
    /*top:auto;*/
    /*bottom:auto;*/
    /*bottom:-10px;*/
    /*list-style:none;*/
    /*margin:20px 0;*/
    
 
	
	/*width: 150px;*/
	/*list-style: none;*/
	/*-webkit-transition: .5s;*/
	/*transition: .5s;*/
	/* width doesn't seem to matter so far*/
	
	float:left;
	transition: 3s;
	
	/*RESOLVED PROBLEMS BELOW*/
	
	
	
	/*IN PROGRESS PROBLEMS BELOW*/
	/*font-size does not control the font-size of the display headers so we need another solution*/
	/*font-size: 500px; don't use doesnt work*/
	
	
	/*UNRESOLVED PROBLEMS BELOW*/
	
	/*addressing the dropup problem*/
	/*position: relative;*/
    /*absolute is kind-of good - it does make them drop down */
    /*but problematic beccause it collapses them in the horizontal dimension*/
    /*position: absolute;  */
    /*position: static; */
    /*position:fixed;*/
    /*position:initial;*/
    /*position:inherit;*/
	
}

/*this refers to the actual items in the path of the drop down*/
.kck_drop li {
    /*float:left;*/
    /*height:10px;*/
    /*margin:0;*/
    /*margin-right:36px;*/
    /*vertical-align:middle;*/
    /*vertical-align:top;*/
    /*vertical-align:bottom;*/
    
    /*RESOLVED PROBLEMS BELOW*/
    
    /* need width to be wide enough to accomodate long verbs 200 px seems to work*/
    /*careful! if it's too wide it forces paths to shift to the left and very annoying*/
    /* conntrolling by % width doesn't seem to work
    /*height should not be adjusted, doesnt seem to help*/
    width: 100px;
    
    /*exploring min-width*/
    min-width: 100px;
    
    
    /*______font-size______*/
    font-size: 14px;
    color: blue;
    
    
    /*IN PROGRESS PROBLEMS BELOW*/
    
    
    
    /*UNRESOLVED PROBLEMS BELOW*/
    
    /*__________transition time_______*/
    /*transition time of the drop down is clearly not controlled here*/
    /*transition: 30s; no effect*/
    
    /*addressing the dropping up issue*/
    /*visibility: hidden; does not work*/
    /*absolute seems to clump everything vertically*/
    /*position: absolute; */
    /*relative (with nothing in kck_drop) just makes it go uop*/
    position: relative;
    
    /*position: static; */
    
    /*
    some combos that don't work
    upper relative lower absolute
    upper static lower relative = drops up
    upper relative lower relative = drops up
    upper fixed lower relative = overlapping
    upper initial and inherit don't seem to work
    */
    
    /*
    possibly works: 
    upper absolute lower relative (drops down but smushes horizontally)
    */
    
}




/*this controls the actual text of the drop downs*/
#drop_downs {
    /*border: solid 1px black;*/
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    /*color: red;*/
    font-size:20px;
    

}



/*I can't figure out how focus works but it might be useful*/
.focus {
    /*font-size:100px;*/
}

#header {
    /*padding: 10px;*/
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
    /*/!*height: 30px;*!/  doesn't seem to work'*/
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baskerville';
    font-size: 15px;
    color: slategrey;
    background: white;
}

/*for some reason this cell was getting too big and pushing aside other cells*/
#spelling_level_header{
    width: 15px;
}

/*#header {*/
/*    height: 100px;*/
/*}*/

/*#header_table {*/
/*    max-height: 10px;*/
/*    height: 20px;*/
/*}*/


/*#level_header {*/
/*    max-height: 20px;*/
/*    max-width: 20px;*/
/*}*/

#header_table img{
    width:100%; 
    height:auto;
    max-width: 30px;
    max-height: 30px;
}


.header_cell {
    /*padding: 10px;*/
    /*max-width: 10px;*/
    /*max-height: 10px;*/
    width: 25%;
    height: 5px;
    /*height: 25%;*/
    /*height: auto;*/
    /*height: 20px;*/
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Baskerville';
    font-size: 15px;
    color: slategrey;
    background: white;
}


#progress-bar {
    /*padding: 10px;  bad effect*/
    /*margin-left: auto; no apparent effect*/
    /*margin-right: auto; no apparent effect*/
    height: 15px;
    background-color: red;
    font-family: "Baskerville";
    background-image: url("../resources/gradientstrip.png");
}



/*before testbox = feedback box & questionbox*/
#before {
    text-align: left;
    vertical-align: middle;
    /*old version pre-morphology*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.5px black;
    padding: 10px;
    background:#95a5a6;
    font-size: 20px;
    /*color: red;*/
}


#test_wrapper {
    padding: 20px;
    /*margin-right: 10px;*/
    /*color: red;*/
}
#testbox {
    /*text-align: justify;*/
    vertical-align: middle;
    font-size: 25px;
    cursor:pointer;
    /*width: 700px;*/
    /*width: 100%-auto;*/
    /*width: 100%;*/
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    /*old version pre morphology*/
    /*padding: 10px;*/
    /*new version for morphology*/
    padding: 1px;
    background:navajowhite;
    white-space: wrap;
    /*color: red;*/
}

/*after testbox = answer choices & submitbox*/
#after {
    color: red;
}




#footer_table {
    width: 100%;
    /*width: 800px;    this makes it not resize the foot*/
    margin-left: auto;
    margin-right: auto;
    /*color: red;*/
}




#input_box
{
    font-size:16pt;
}

/*#answer_choices {*/
/*    background:red;*/
/*    font-size: 20px;*/
/*    vertical-align: middle;*/
/*    width: max;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding: 200px;*/
/*    color: red;*/
/*}*/




/*#questionbox {*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*padding: 10px;*/
    /*width: 400px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

/*}*/



#anonymous_alert {
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    padding: 10px;
    background:navajowhite;
}

#image_display_box {
    /*width: 800px; not good*/
    width: auto;
    /*height: 800px;    not good*/
    height: auto;
    font-size: 28px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    vertical-align: middle;
    display:none;   /*change this later when we have images to display*/
    /*max-width:100%;*/
    /*max-height:100%;*/
    
    /*hacky way of making the pseudo-lightbox remove when lightbox is operational*/
    /*Dan removed this, that removal may break lightboxes.*/
    /*Dan put scrolling back in since it didn't seem to change the behavior.*/
    overflow-x:scroll;
    overflow-y:scroll;
    max-width:100%;
    max-height:85%;
    /*end of desparate hack*/

    /*<div style="height:180px;width:180px;overflow:auto;">*/
    /*<img src="/pix/samples/11m.jpg" alt="Sample picture for scroll box">*/
    /*</div>*/
}


.hint_div {
   font-size: 14px; 
}

/*#dash_hint_box {*/
/*    font-size: 14px;*/
/*}*/


#dash_hint_box li {
    list-style-type: none;
}



/*Dan changed this bit and hopefully didn't break anything.*/
/*akiva changed settings to max width=100% and max height=75% - seems to work better than 200px*/
#cheat_sheet_image {
    max-width:100%;
    max-height:65%;
    /*max-width:200px;*/
    /*max-height:200px;*/
    /*Dan commented out scrolling in hopes it would allow users to scroll.*/
    /*Dan put scrolling back in since it didn't seem to change the behavior.*/
    overflow-x:scroll;
    overflow-y:scroll;
    /*max-height:100%;*/
}


.lightbox {
    display: none;
}







/*sidebar below*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    /*Dan changed this to scroll from auto in hopes it would fix bug.*/
    overflow-y: scroll;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*this is the parent*/
#avatar_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

/*this is the child*/
#avatar_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






/*.lightbox {*/
/*    display: none;*/
/*}*/

/*div {*/
    /*border : solid 1px black;*/
/*}*/

/*body {*/
/*    margin: 20px;*/
/*    padding: 0px;*/
/*    font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
/*    font-size: 27px;*/
    /*color: #666;*/
    /*background:#bdc3c7;*/
/*}*/

/*#all {*/
/*    width: 100%;*/
/*    height: 100%;*/
    /*border : solid 1px blue;*/
/*    display: table;*/
/*    position: relative;*/
/*}*/


/*#header {*/
/*    display: table-row;*/
/*    background: #888;*/
/*    width: 100%;*/
/*    display: inline-block;*/

/*}*/

/*#header-left {*/
/*    float: left;*/
/*}*/

/*#header-right {*/
/*    float: right;*/
/*}*/

/*#inside-row {*/
/*    position: relative;*/
/*    display: table-row;*/
/*    background: pink;*/
    /*border : solid 2px green;*/
/*    height: 100%;*/
/*    text-align: center;*/
/*    vertical-align: bottom;*/
/*}*/

/*#inside-cell {*/
    /*top: 25%;*/
    /*position: relative;*/
/*    display: table-cell;*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*margin: auto;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
    /*border : solid 3px blue;*/
    
/*}*/

/*#content {*/
/*    background: white;*/
/*    display: inline-block;*/
    /*border : solid 3px blue; */
    
/*}*/